{% extends 'base.html.twig' %}

{% block title %}Gestion des status{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Gestion des status</h1>
            <br>
        </div>
        <div class="col-12 text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for status in statuses %}
                    <tr>
                        <td>{{ status.name }}</td>
                        <td>
                            <a href="{{ path('status_show', {'id': status.id}) }}"><button class="btn btn-primary">Afficher</button></a>
                            <a href="{{ path('status_edit', {'id': status.id}) }}"><button class="btn btn-success">Editer</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('status_new') }}"><button class="btn btn-success">Ajouter un status</button></a>
        </div>
    </div>
</div>


{% endblock %}
