<form method="post" action="{{ path('sex_delete', {'id': sex.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet objet?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sex.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
