{% extends 'base.html.twig' %}

{% block title %}Gestion des sexes{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Gestion des sexes</h1>
            <br>
        </div>
        <div class="col-12 text-center">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sexe</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for sex in sexes %}
                    <tr>
                        <td>{{ sex.name }}</td>
                        <td>
                            <a href="{{ path('sex_show', {'id': sex.id}) }}"><button class="btn btn-primary">Afficher</button></a>
                            <a href="{{ path('sex_edit', {'id': sex.id}) }}"><button class="btn btn-success">Editer</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('sex_new') }}"><button class="btn btn-success">Ajouter un sexe</button></a>
        </div>
    </div>
</div>
{% endblock %}
