{% extends 'base.html.twig' %}

{% block title %}New PrivateMessage{% endblock %}

{% block body %}
    <h1>Create new PrivateMessage</h1>

    {{ include('private_message/_form.html.twig') }}

    <a href="{{ path('private_message_index') }}">back to list</a>
{% endblock %}
