<form method="post" action="{{ path('class_level_delete', {'id': class_level.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet objet?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ class_level.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
