{% extends 'base.html.twig' %}

{% block title %}Ajouter un niveau scolaire{% endblock %}

{% block body %}
<div class="container theme-container text-theme">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Ajouter un niveau scolaire</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            {{ include('class_level/_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('class_level_index') }}" class=" btn theme-action">retour aux niveaux scolaire</a>
        </div>
    </div>
</div>
{% endblock %}
