{% extends 'base.html.twig' %}

{% block title %}Mon historique{% endblock %}

{% block body %}

<div class="container theme-container">
    <br>
    <div class="row">
        <div class="col-12">
            <h1 class="text-theme">Mon historique "Alertes traitées"</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 text-theme">
                    {% if app.user.role.name == "ROLE_ELEVE" %}
                        Alerte(s) traitée(s): <strong>{{ alerts|length }}</strong>
                    {% else %}
                        Alerte(s) prise(s) en charge cloturée(s): <strong>{{ alerts|length }}</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        {% for alert in alerts %}
            {{ include('profil/alertcard.html.twig') }}
        {% endfor %}
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('profil_index') }}"><button class="btn theme-action">retour au profil</button></a>
        </div>
    </div>
    <br>
</div>

{% endblock %}