<div class="row">
    {% for alert in alerts %}
        {{ include('profil/alertcard.html.twig') }}
    {% endfor %}
</div>
<br>
<div class="row">
    <div class="col-6">
        Je suis victime ou témoin de harcelement:
    </div>
    <div class="col-6 text-right">
        Pour consulter l'historique d'alerte postées:
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <a href="{{path('alert_new')}}"><button class="btn btn-primary">Créer une alerte</button></a>
    </div>
    <div class="col-6 text-right">
        <a href="{{path('alerthistory')}}"><button class="btn btn-primary">Historique</button></a>
    </div>
</div>
<br>