<div class="row">
    <div class="col-12">Ceci</div>
    <div class="col-12">Est</div>
    <div class="col-12">La</div>
    <div class="col-12">Div</div>
    <div class="col-12">Du</div>
    <div class="col-12">Profile</div>
    <div class="col-12">Eleve</div>
</div>
<br>
<div class="row">
    <div class="col-12">
        Je souhaite déclarer un cas de harcelement dont :
    </div>
</div>
<div class="row">
    <div class="col-12"><br></div>
    <div class="col-6">
        <a href="{{path('alert_new')}}"><button class="btn btn-primary width100">Je suis victime</button></a>
    </div>
    <div class="col-6 text-right">
        <a href="{{path('alert_new')}}"><button class="btn btn-primary width100">Je suis témoin</button></a>
    </div>
    <div><br></div>
</div>