<div class="row">
    {% for alert in alerts %}
        {{ include('profil/alertcard.html.twig') }}
    {% endfor %}
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        Je suis victime ou témoin de harcelement:
    </div>
</div>
<div class="row">
    <div class="col-12"><br></div>
    <div class="col-12 text-center">
        <a href="{{path('alert_new')}}"><button class="btn btn-primary">Créer une alerte</button></a>
    </div>
    <div><br></div>
</div>