<div class="row">
    <div class="col-12">Ceci</div>
    <div class="col-12">Est</div>
    <div class="col-12">La</div>
    <div class="col-12">Div</div>
    <div class="col-12">Du</div>
    <div class="col-12">Profile</div>
    <div class="col-12">Eleve</div>
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        Je suis victime ou témoin de harcelement:
    </div>
</div>
<div class="row">
    <div class="col-12"><br></div>
    <div class="col-12 text-center">
        <a href="{{path('alert_new')}}"><button class="btn btn-primary">Créer une alerte</button></a>
    </div>
    <div><br></div>
</div>