<div class="row">
    {% for alert in alerts %}
        {{ include('profil/alertcard.html.twig') }}
    {% endfor %}
</div>
<br>
<br>
<div class="row">
    <div class="col-md-6">
        <a href="{{path('alert_new')}}"><button class="btn theme-action" style="min-width:220px; margin-bottom: 10px;">Créer une alerte</button></a>
    </div>
    <div class="col-md-6">
        <a href="{{path('alerthistory')}}"><button class="btn theme-action" style="min-width:220px; margin-bottom: 10px;">Historique</button></a>
    </div>
</div>
<br>