<div class="row">
    {% for alert in alerts %}
        {{ include('profil/alertcard.html.twig') }}
    {% endfor %}
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        Pour consulter la liste des cas signalés par les élèves, c'est ici :
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        <a href="{{path('alert_index')}}"><button class="btn btn-primary">Consulter les signalements</button></a>
    </div>
    <div><br></div>
</div>