<div class="row">
    <div class="col-12">Ceci</div>
    <div class="col-12">Est</div>
    <div class="col-12">La</div>
    <div class="col-12">Div</div>
    <div class="col-12">Du</div>
    <div class="col-12">Profile</div>
    <div class="col-12">Professeur</div>
</div>
<br>
<div class="row">
    <div class="col-12">
        Pour consulter la liste des cas signalés par les élèves, c'est ici :
    </div>
</div>
<div class="row">
    <div class="col-12"><br></div>
    <div class="col-12 text-center">
        <a href="{{path('alert_index')}}"><button class="btn btn-primary width100">Consulter les signalements</button></a>
    </div>
    <div><br></div>
</div>