<div class="row">
    <div class="col-12">Ceci</div>
    <div class="col-12">Est</div>
    <div class="col-12">La</div>
    <div class="col-12">Div</div>
    <div class="col-12">Du</div>
    <div class="col-12">Profile</div>
    <div class="col-12">Secretariat</div>
</div>
<br>
<br>
<div class="row">
    <div class="col-12">
        <a href="{{path('user_new')}}"><button class="btn theme-action" style="min-width:220px; margin-bottom: 10px;">Inscrire un membre</button></a>
    </div>
    <div><br></div>
</div>