<div class="row">
    <div class="col-12">Ceci</div>
    <div class="col-12">Est</div>
    <div class="col-12">La</div>
    <div class="col-12">Div</div>
    <div class="col-12">Du</div>
    <div class="col-12">Profile</div>
    <div class="col-12">Secretariat</div>
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        Pour ajouter un élève ou un professeur :
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 text-center">
        <a href="{{path('user_new')}}"><button class="btn btn-primary">Inscrire un membre</button></a>
    </div>
    <div><br></div>
</div>