{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
            <h3>Modif du mdp de {{user.userName}}</h3>
            <ul>
                ici on doit demander:
                <li>l'ancien mdp</li>
                <li>le nouveau mdp</li>
                <li>une confirmation du mdp</li>
                puis afficher un bouton de validation !
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('profil_index') }}"><button class="btn btn-primary">retour au profil</button></a>
        </div>
    </div>
</div>

{% endblock %}