<form method="post" action="{{ path('alert_style_delete', {'id': alert_style.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cet objet?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alert_style.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
