{% extends 'base.html.twig' %}

{% block title %}Ajouter un type d'alerte{% endblock %}

{% block body %}
<div class="container theme-container text-theme">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Ajouter un type d'alerte</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            {{ include('alert_style/_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('alert_style_index') }}" class="btn theme-action">retour aux types d'alerte</a>
        </div>
    </div>
</div>
{% endblock %}
