{{ form_start(form) }}
    <div class="row">
        <div class="col-12 text-center">
            {{ form_row(form.name, {'label':'Lieu :', 'attr':{'class':'form-control control-label', 'autofocus':'true'}}) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn theme-action">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(form) }}
