{% extends 'base.html.twig' %}

{% block title %}Gestion des lieux{% endblock %}

{% block body %}
<div class="container theme-container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-theme">Gestion des lieux</h1>
            <br>
        </div>
        <div class="col-12 text-center">
            <table class="table table-striped">
                <thead class="theme-d3">
                    <tr>
                        <th>Lieu</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for location in locations %}
                    <tr>
                        <td>{{ location.name }}</td>
                        <td>
                            <a href="{{ path('location_show', {'id': location.id}) }}"><button class="btn theme-action">Afficher</button></a>
                            <a href="{{ path('location_edit', {'id': location.id}) }}"><button class="btn theme-action">Editer</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('location_new') }}"><button class="btn theme-action">Ajouter un lieu</button></a>
        </div>
    </div>
</div>

{% endblock %}
