{% extends 'base.html.twig' %}

{% block title %}Ajouter un lieu{% endblock %}

{% block body %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Ajouter un lieu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ include('location/_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('location_index') }}"><button class="btn btn-primary">retour aux lieux</button></a>
        </div>
    </div>
</div>


{% endblock %}
