{% extends 'base.html.twig' %}

{% block title %}Edit Alert{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Edit Alert</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ include('alert/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('alert_index') }}"><button class="btn btn-primary">retour aux alertes</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ include('alert/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
