.backgroundDivRed {
    background-color: rgba(255, 0, 0, 0.300);
}

.backgroundDivBlue {
    background-color: rgba(0, 0, 255, 0.300);
}

.backgroundDivGreen {
    background-color: rgba(0, 128, 0, 0.300);
}

.marginRight0 {
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.width100 {
    min-width: 100%;
}

.width50 {
    min-width: 50%;
}

.content-center {
    margin-right: auto;
    margin-left: auto;
}