/* EddyPart */
.backgroundDivRed {
    background-color: rgba(255, 0, 0, 0.3);
}

.backgroundDivBlue {
    background-color: rgba(0, 0, 255, 0.3);
}

.backgroundDivGreen {
    background-color: rgba(0, 128, 0, 0.3);
}

.marginRight0 {
    max-width: 330px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.width100 {
    min-width: 100%;
}

.width50 {
    min-width: 50%;
}

.content-center {
    margin-right: auto;
    margin-left: auto;
}

/* Pour la liste alerte profil eleve */
.alertCard{
    width: 350px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
}

.alertCard .label {
    font-size: 0.7rem;
}

.alertCard .value {
    font-size: 0.8rem;
    font-weight: bold;
}

.imgcenter {
    margin-right: auto;
    margin-left: auto;
}

.alertStyleCheckboxDisplay{
    display: flex;
    flex-wrap: wrap;
}

.capsuleAlertStyle {
    border: 1px solid;
    border-radius: 5px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
/*  fin */

/* AurelienPart */
label:not(.form-check-label), legend {
    font-weight: bold;
}
/* Fin */

/* CirceStyle */
body {
    background-color: #274472;
    color: rgb(235, 242, 255);  
    text-align: center;

}
h1 {
    margin: 10px;
    color: #FFDC7A;
}
.section {
    width: 100%;
    padding: 20px;
    background-color: #5885AF;
    border-radius: 9px;
    box-shadow: 4px 4px 3px rgba(9, 2, 90, 0.5);
}

.contenant {
    margin: 10px auto;
    width: 90%;
    padding: 15px;
    background-color: #5885AF;
    border-radius: 9px;
    box-shadow: 4px 4px 3px rgba(9, 2, 90, 0.5);
}

h4 {
    color: white;
}
h2, h3 {
    color: #FFDC7A;
}
strong {
    color: white;
}
.btn-light {
    margin: 10px;
    box-shadow: 5px 5px 3px rgba(9, 2, 100, 0.5);
}

/* GRAPHS */
#nbIncident {
    max-width: 500px;
    margin: 10px auto;
}
#bubble {
    max-width: 600px;
    margin: 10px auto;
}
#age {
    /* max-width: 500px; */
    margin: 10px auto;
}
#localisation {
    max-width: 500px;
    margin:  auto;
}
#column {
    max-width: 500px;
    margin: 10px auto;
}
#incidentType {
    min-width: 310px; 
    height: 400px; 
    margin: 10px auto;
}
#profs {
    max-width: 500px;
    margin: 10px auto;
}
#casClasse {
    min-width: 310px;
	max-width: 800px;
	height: 400px;
	margin: 0 auto
}


.footer {
    margin-top: 20px;
    margin-bottom: 0;
}