{% extends 'base.html.twig' %}

{% block title %}Edit ClassName{% endblock %}

{% block body %}
    <h1>Edit ClassName</h1>

    {{ include('class_name/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('class_name_index') }}">back to list</a>

    {{ include('class_name/_delete_form.html.twig') }}
{% endblock %}
