{% extends 'base.html.twig' %}

{% block title %}Ajouter une classe{% endblock %}

{% block body %}
<div class="container theme-container text-theme">
    <br>
    <div class="row">
        <div class="col-12 text-center">
            <h1>Ajouter une classe</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            {{ include('class_name/_form.html.twig') }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('class_name_index') }}"><button class="btn theme-action">retour aux classes</button></a>
        </div>
    </div>
</div>
{% endblock %}
