{% block footer %}

    <div class="footer">
        <div class="title text-center">
            Developped by :
        </div>
        <div class="row text-center">
            <div class="col-3">
                <a href="https://www.linkedin.com/in/circ%C3%A9-perlein-9748a618a/" target="_blank">
                    Circé Perlein</a>
            </div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/benoit-routier/" target="_blank">
                    Benoit Routier</a>
            </div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/eddy-galmand-3715b016b/" target="_blank">
                    Eddy Galmand</a>
            </div>
            <div class="col-3">
                <a href="https://www.linkedin.com/in/aur%C3%A9lien-montaye-a1b69b185/" target="_blank">
                    Aurélien Montaye</a>
            </div>
        </div>
    </div>
    <style>
        .footer {
            background-color: #343a40;
            width: 100%;
            height: 60px;
            box-sizing: border-box;
            padding-bottom: 10px;
            bottom: 0;
        }

        .title {
            font-weight: bold;
            padding-top: 5px;
            font-family: sans-serif;
            text-decoration: underline;
            color: white;
        }
    </style>

{% endblock %}
