{% block footer %}

<div class="footer">
    <div class="title text-center">
        Developped by :
    </div>
    <div class="row ">
        <div class="col-3">
            <a href="https://www.linkedin.com/in/circ%C3%A9-perlein-9748a618a/"> Circe Perlein</a>
        </div>
        <div class="col-3">
            <a href="https://www.linkedin.com/in/benoit-routier/"> Benoit Routier</a>
        </div>
        <div class="col-3">
            <a href="https://www.linkedin.com/in/eddy-galmand-3715b016b/"> Eddy Galmand</a>
        </div>
        <div class="col-3">
            <a href="https://www.linkedin.com/in/aur%C3%A9lien-montaye-a1b69b185/"> Aurélien Montaye</a>
        </div>
    </div>
</div>
<style>
    .footer {
        background-color: #343a40;
        height: 60px;
        box-sizing: border-box;
        padding-bottom: 10px;
    }

    .title {
        font-weight: bold;
        padding-top: 5px;
        font-family: sans-serif;
        text-decoration: underline;
    }
</style>

{% endblock %}