<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Stop-Harcelement</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/alert">Alert</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/alertstyle">AlertStyle</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/class/level">ClassLevel</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/class/name">ClassName</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/location">Location</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/private/message">PrivateMessage</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="/role">Role</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/sex">Sex</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/status">Status</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
            </li>
        </ul>
        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions liées au Compte</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/sex">gerer Sexes</a>
                <a class="dropdown-item" href="/role">gerer Roles</a>
                <a class="dropdown-item" href="/class/level">gerer rangs de classe</a>
                <a class="dropdown-item" href="/location">gerer lieux</a>
                <a class="dropdown-item" href="/status">gerer status</a>
                <a class="dropdown-item" href="/alertstyle">gerer types d'alerte</a>
                <a class="dropdown-item" href="/class/name">gerer les classes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Deconnexion</a>
            </div>
        </div>
        <!-- <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>