<style>
    #column {
        min-width: 310px;
        height: 400px;
        margin: 0 auto;
    }
</style>
<script>
    Highcharts.chart('incidentType', {
    chart: {
        type: 'column'
    },
    title: {
        text: "Répartition des agressions par mois"
    },
    xAxis: {
        categories: [
                {% if tam is defined %}
                    {% for m in month %}
                        "{{ m }}",
                    {% endfor %}
                {% endif %}
        ]
    },
    yAxis: {
        min: 0,
        title: {
        text: "Nombre d'incident"
        }
    },
    tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [
        {% if tam is defined %}
            {% for key, style in tam %}
                {
                    name: '{{key}}',
                    data: [
                        {% for nb in style %}
                            {{ nb }},
                        {% endfor %}
                    ]
                },
            {% endfor %}
        {% endif %}
    ]
    });
</script>
