{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/homeStyle.css')}}">
{% endblock %}
{% block body %}
    <h1>Statistiques</h1>
    <div class="contenant">
        <div class="row">
            <div class="col-6">
                <div id="nbIncident">
                    {% include 'dashboard/nbIncident.html.twig' %}
                </div>
            </div>
            <div class="col-6">
                <div id="incidentType">
                    {% include 'dashboard/incidentType.html.twig' %}
                </div>
            </div> 
            <div class="col-12">
                <div id="bubble">
                    {% include 'dashboard/bubble.html.twig' %}
                </div>
            </div>   
            <div class="col-6">
                <div id="trancheHoraire">
                    {% include 'dashboard/trancheHoraires.html.twig' %}
                </div>
            </div>
            <div class="col-6">
                <div id="localisation">
                    {% include 'dashboard/localisation.html.twig' %}
                </div>
            </div>             
            <div class="col-12">
                <div id="age">
                    {% include 'dashboard/age.html.twig' %}
                </div>
            </div>
   

        </div>
    </div>
{% endblock %}
