{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('assets/css/homeStyle.css')}}">
{% endblock %}
{% block body %}
    <h1>Statistiques</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Graphique</h4>
            </div>
            <div class="col-6">
                <h4>Graphique</h4>
            </div>
            <div class="col-6">
                <h4>Graphique</h4>
            </div>
            <div class="col-6">
                <h4>Graphique</h4>
            </div>
        </div>
    </div>
{% endblock %}
