<button id="plain">Plain</button>
<button id="inverted">Inverted</button>
<button id="polar">Polar</button>


<script>
   var chart = Highcharts.chart('profs', {

    title: {
        text: 'Activité des professeurs'
    },

    xAxis: {
        categories: [
                {% if nac is defined %}
                    {% for profName, nb in pa %}
                        "{{ profName }}",
                    {% endfor %}
                {% endif %}
        ]
    },

    series: [{
        type: 'column',
        name: "nombre de suivis ",
        colorByPoint: true,
        data: [
                {% if nac is defined %}
                {% for nb in pa %}
                   {{ nb }},
                {% endfor %}
            {% endif %}
        ],
        showInLegend: false
    }]

    });


    $('#plain').click(function () {
        chart.update({
            chart: {
                inverted: false,
                polar: false
            },
            subtitle: {
                text: 'Plain'
            }
        });
    });

    $('#inverted').click(function () {
        chart.update({
            chart: {
                inverted: true,
                polar: false
            },
            subtitle: {
                text: 'Inverted'
            }
        });
    });

    $('#polar').click(function () {
        chart.update({
            chart: {
                inverted: false,
                polar: true
            },
            subtitle: {
                text: 'Polar'
            }
        });
    });

</script>