{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Create new User</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ include('user/_form.html.twig') }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{{ path('profil_index') }}"><button class="btn btn-primary">retour au profil</button></a>
        </div>
    </div>
</div>
{% endblock %}
